<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="spaCbzSeg">
        <img
          src="assets/img/logos_cuerpo/logo_cuerpo_tienda_virtual.svg"
          alt="Tienda Virtual"
          class="imgEncabz"
        />
        <h3 class="encabz">Tienda en Línea</h3>
      </div>
    </div>
  </div>
  <ng-container *ngIf="status === 'complete'">
    <div class="row DetalleProduct">
      <div class="col-12 col-md-4 col-lg-4 ImagenProduct">
        <img
          alt="Imagen detalle"
          class="img-fluid"
          [src]="dataProduct['c02_imagenurls3']"
        />
      </div>
      <div class="col-12 col-md-8 col-lg-8 DescDetalleProduct">
        <h3>
          {{ dataProduct["c02_titulo"] }}
        </h3>
        <div [innerHTML]="dataProduct['c02_descripcion']"></div>
        <span class="precioDetalle">
          {{ getPrice(dataProduct["c02_precio"]) }} MXN
        </span>
        <hr />
        <div class="row">
          <div class="col-md-4">
            <p>Cantidad</p>
            <select
              class="select_detalle-css"
              [(ngModel)]="quantity"
              (ngModelChange)="changeQuantity()"
            >
              <option *ngFor="let item of quantityStock" [value]="item">{{
                item
              }}</option>
            </select>
          </div>
          <div class="col-md-8 metPago">
            <ul>
              <li class="list-item" *ngIf="checkToPayByPayroll">
                <img
                  src="assets/img/img_tienda/paga_via_nomina.svg"
                  alt="paga vía nómina"
                />
                <p>Paga vía nómina</p>
              </li>
              <li class="list-item">
                <img
                  src="assets/img/img_tienda/paga_via_paypal.svg"
                  alt="paga vía paypal"
                />
                <p>Paga vía PayPal</p>
              </li>
              <li class="list-item" *ngIf="paysAvailable.length">
                <img
                  src="assets/img/img_tienda/paga_via_quincena.svg"
                  alt="paga quincenalmente"
                />
                <p>Difiere tu pago quincenalmente</p>
              </li>
            </ul>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-12 col-md-8 col-lg-6">
            <button
              class="btn btn-block btn-lg btn-primary pgoVyaNom"
              *ngIf="checkToPayByPayroll"
              (click)="buyProduct('NOMINA', 1)"
            >
              PAGAR VÍA NÓMINA
            </button>
          </div>
          <div class="col-12 col-md-4 col-lg-4">
            <a
              href=""
              class="btn btn-block btn-lg btn-outline-primary pgoVyaPayPal"
            >
              <img
                src="assets/img/img_tienda/logo_paypal.svg"
                alt="paga vía paypal"
              />
            </a>
          </div>
        </div>
        <br />
        <div class="marcoPagoQuincenal" *ngIf="paysAvailable.length">
          <h3>
            DIFIERE TU PAGO QUINCENALMENTE
          </h3>
          <p>
            Escoge el plazo que mejor se ajuste a tus necesidades recibirás el
            descuento vía nómina.
          </p>
          <br />
          <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
              <p>Quincenas</p>
              <select
                class="select_detalle-css"
                [(ngModel)]="payAvailableSelected"
              >
                <option
                  *ngFor="let pay of paysAvailable"
                  [value]="pay.quantity"
                  >{{ pay.quantity }}</option
                >
              </select>
            </div>
            <div class="col-12 col-md-8 col-lg-6">
              <h3
                class="pay-quantity"
                style="color: #ea2840; font-size: 1.25em;"
                *ngIf="payAvailableSelected"
              >
                PAGOS DE: {{ getPaymentFormated(payAvailableSelected) }}
              </h3>
              <button
                class="btn btn-primary btn-lg btn-block pgoVyaNom"
                (click)="buyProduct('DIFERIDO', payAvailableSelected)"
                [disabled]="!payAvailableSelected"
              >
                PAGAR CADA QUINCENA
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="status === 'error'">
    <h3 style="text-align: center;">
      Ocurrió un problema con tu solicitud
    </h3>
  </ng-container>
</div>
<app-modal-loading [active]="loading"></app-modal-loading>

<a
  href="#exitoSolicitud"
  id="showModalExitoSolicitud"
  data-toggle="modal"
  style="display: none;"
></a>
<a
  href="#errorSolicitud"
  id="showModalErrorSolicitud"
  data-toggle="modal"
  style="display: none;"
></a>
<div
  class="modal fade"
  id="exitoSolicitud"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">
          Solicitud recibida
        </h5>
        <button
          [routerLink]="'/productos'"
          type="button"
          class="close"
          data-dismiss="modal"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center;"
          >
            <h5 style="font-size: 1.2rem;">
              Tu compra se esta procesando
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a [routerLink]="'/productos'" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="errorSolicitud"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Error en la solicitud
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center;"
          >
            <h5 style="font-size: 1.2rem;">
              Ha ocurrido un error con tu petición, inténtalo mas tarde.
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>
