<div class="img_derecha">
  <img
    src="assets/img/logo-login-naxu.svg"
    alt="logo naxu"
    class="logoLoginDesk"
  />
  <img
    src="assets/img/logo_naxu.svg"
    alt="logo naxu movil"
    class="logoLoginMovil"
  />
</div>
<div class="main row align-items-center justify-content-center vh-100">
  <div class="col-12 col-md-10 col-lg-10 col-xl-8">
    <div class="logoLoginCompany" style="min-height: 100px; display: flex">
      <img
        src="assets/img/logo-main.jpg"
        alt="Logo de company"
        style="max-width: 150px"
      />
    </div>
    <div class="login-form">
      <form
        class="form-login"
        #f1="ngForm"
        [formGroup]="otpForm"
        (submit)="sendDataOtpData(); f1.reset()"
        *ngIf="otpStep; else updatePasswordTemplateForm"
      >
        <div class="form-group">
          <label>Codigo OTP</label>
          <input #otp type="text" formControlName="otp" class="form-control" />
        </div>

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <input
              type="submit"
              [disabled]="!f1.form.valid"
              class="btn btn-block btn-lg btn-primary btn-form-reg"
              value="Enviar codigo"
            />
            <br />
            <br />
            <p class="enlaceRegAqu" style="text-align: center;">
              <a [routerLink]="'/'">Regresar al inicio</a>
            </p>
          </div>
        </div>
      </form>
      <ng-template #updatePasswordTemplateForm>
        <form
          class="form-login"
          #f2="ngForm"
          [formGroup]="userForm"
          (submit)="sendData(); f2.reset()"
        >
          <div class="form-group">
            <label>RFC</label>
            <input
              #rfc
              type="text"
              formControlName="rfc"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input
              #password
              type="password"
              class="form-control"
              formControlName="password"
            />
          </div>
          <div class="form-group">
            <label>Confirmar Contraseña</label>
            <input
              #passwordConfirm
              formControlName="passwordConfirm"
              type="password"
              class="form-control"
            />
          </div>
          <div class="row">
            <div class="offset-md-3 col-md-6">
              <input
                type="submit"
                [disabled]="!f2.form.valid"
                class="btn btn-block btn-lg btn-primary btn-form-reg"
                value="Actualizar contraseña"
              />
            </div>
          </div>
        </form>
      </ng-template>
    </div>
  </div>
</div>
<app-modal-loading [active]="loading"></app-modal-loading>
<a
  href="#errorSolicitud"
  id="showModalErrorSolicitud"
  data-toggle="modal"
  style="display: none;"
></a>
<a
  href="#errorOtpNotFound"
  id="showModalErrorOtpNotFound"
  data-toggle="modal"
  style="display: none;"
></a>
<a
  href="#updatePasswordSuccess"
  id="showModalUpdateSuccess"
  data-toggle="modal"
  style="display: none;"
></a>
<a
  href="#updatePasswordError"
  id="showModalErrorUpdatePasswordError"
  data-toggle="modal"
  style="display: none;"
></a>
<div
  class="modal fade"
  id="errorSolicitud"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Error en la solicitud
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center;"
          >
            <h5 style="font-size: 1.2rem;">
              Ha ocurrido un error con tu petición, inténtalo mas tarde.
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="errorOtpNotFound"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Error en la solicitud
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center;"
          >
            <h5 style="font-size: 1.2rem;">
              La clave introducida es inválida.
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="updatePasswordSuccess"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Cambio exitoso
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          [routerLink]="'/'"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center;"
          >
            <h5 style="font-size: 1.2rem;">
              La contraseña ha sido cambiada correctamente.
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" [routerLink]="'/'">Entendido</a>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="updatePasswordError"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Error en la solicitud
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center;"
          >
            <h5 style="font-size: 1.2rem;">
              La contraseña no pudo ser cambiada. Inténtelo nuevamente.
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>
