<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6">
      <div class="spaCbz">
        <img
          src="assets/img/logos_cuerpo/logo_cuerpo_recibo_nomina.svg"
          alt="Recibos de nómina"
          class="imgEncabz"
        />
        <h3 class="encabz">Recibos de nómina</h3>
      </div>
      <div class="infoUsua">
        <div class="form-group">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
              <select [(ngModel)]="month" class="form-control">
                <option [value]="''" disabled>Selecciona el mes</option>
                <option [value]="1">Enero</option>
                <option [value]="2">Febrero</option>
                <option [value]="3">Marzo</option>
                <option [value]="4">Abril</option>
                <option [value]="5">Mayo</option>
                <option [value]="6">Junio</option>
                <option [value]="7">Julio</option>
                <option [value]="8">Agosto</option>
                <option [value]="9">Septiembre</option>
                <option [value]="10">Octubre</option>
                <option [value]="11">Noviembre</option>
                <option [value]="12">Diciembre</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
              <select [(ngModel)]="step" class="form-control">
                <option [value]="''" disabled>Seleccione el periodo</option>
                <option [value]="-1">Primer</option>
                <option [value]="0">Segundo</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-6" *ngIf="years">
              <select [(ngModel)]="yearSelected" class="form-control">
                <option [value]="''" disabled>Selecciona el año</option>
                <option *ngFor="let year of years" [value]="year">
                  {{ year }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <button
          class="btn btn-block btn-primary enlace"
          type="button"
          (click)="downloadReceipt()"
          [disabled]="!step || !month || !yearSelected"
        >
          Descagar PDF
        </button>
      </div>
    </div>
  </div>
</div>
<app-modal-loading [active]="loading"></app-modal-loading>
<a
  href="#errorSolicitud"
  id="showModalErrorSolicitud"
  data-toggle="modal"
  style="display: none"
></a>
<div
  class="modal fade"
  id="errorSolicitud"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error en la solicitud</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center"
          >
            <h5 style="font-size: 1.2rem; width: 100%">
              No existe un recibo para el periodo solicitado
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>
