<div class="container-fluid fot" *ngIf="!router.url.includes('')">
            <div class="row">
                <div class="col-6 col-md-3 col-lg-2 cjadress">
                    <address>
                        <strong>Contacto</strong><br />
                        <abbr title="Telefono">Tel:</abbr> 800.234.5674<br />
                        Mail:info@naxu.com.mx <br />
                        NAXU© 2020
                    </address>
                </div>
                <div class="col-6 col-md-2 col-lg-2">
                        <img src="assets/img/company_name_byn.svg" alt="companylogo" />
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni repellendus suscipit optio velit doloremque consectetur nisi eos iure, voluptatum eum nesciunt alias totam officiis esse soluta quod provident natus
                        maiores Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, sint similique officiis ducimus dolorum, non magni iusto voluptates natus doloremque quam cumque expedita quos et ratione! Porro quisquam
                        assumenda rerum.
                    </p>
                </div>
            </div>
        </div>
