<div class="img_derecha">
	<img src="assets/img/logo-login-naxu.svg" alt="logo naxu" class="logoLoginDesk">
	<img src="assets/img/logo_naxu.svg" alt="logo naxu movil" class="logoLoginMovil">
</div>
 <div class="main row align-items-center justify-content-center vh-100">
	<div class="col-12 col-md-10 col-lg-10 col-xl-8">

		<div class="logoLoginCompany">
			<img alt="Company Name" src="assets/img/companyname_loging.svg">
		</div>
	   <div class="login-form">

		  <form class="form-login">

			 <div class="form-group">
				<label>Correo</label>
				<input type="text" class="form-control">
			 </div>
			 <div class="form-group">
				<label>RFC</label>
				<input type="text" class="form-control">
			 </div>

			 <div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<input type="submit"  class="btn btn-block btn-lg btn-primary btn-form-reg" value="Recuperar contraseña">
					<br>
					<br>
					<p class="enlaceRegAqu">¿Ya tienes una cuenta? <a  routerLink="login" target="_self">Ingresa aquí</a></p>
				</div>
				<div class="col-md-3"></div>
			</div>





		  </form>
	   </div>
	</div>
 </div>
