<div class="img_derecha02">
  <img src="assets/img/logo-login-naxu.svg" alt="logo naxu" class="logoLoginDesk" />
  <img src="assets/img/logo_naxu.svg" alt="logo naxu movil" class="logoLoginMovil" />
</div>
<div class="main row align-items-center justify-content-center vh-100">
  <div class="col-12 col-md-10 col-lg-10 col-xl-8">
    <div class="logoLoginCompany" style="min-height: 150px; display: flex">
      <img src="assets/img/logo-main.jpg" alt="Logo de company" style="max-width: 150px" />
    </div>
    <div class="login-form" *ngIf="enterprises.length">
      <form class="form-login" [formGroup]="userForm" (submit)="CheckRegister()">
        <div class="form-group">
          <label>RFC</label>
          <input type="text" class="form-control" formControlName="rfc" id="rfc" />
          <app-control-messages [control]="userForm.get('rfc')"></app-control-messages>
        </div>
        <div class="form-group">
          <label>Empresa</label>
          <select class="form-control" formControlName="enterprise">
            <option [value]="''" disabled>Seleccione su empresa</option>
            <ng-container *ngFor="let enterpriseSelect of enterprises">
              <option [value]="enterpriseSelect['c11_id']" *ngIf="enterpriseSelect['c11_status'] === 'Activo'">
                {{enterpriseSelect["c11_nombre"] }}
              </option>
            </ng-container>
          </select>
          <app-control-messages [control]="userForm.get('enterprise')"></app-control-messages>
        </div>
        <div class="form-group">
          <label>Número de empleado</label>
          <input type="text" class="form-control" formControlName="employee" id="employee" />
          <app-control-messages [control]="userForm.get('employee')"></app-control-messages>
        </div>
        <div class="form-group">
          <label>Correo</label>
          <input type="text" class="form-control" formControlName="email" id="email" />
          <app-control-messages [control]="userForm.get('email')"></app-control-messages>
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" class="form-control" formControlName="password" id="password" />
          <app-control-messages [control]="userForm.get('password')"></app-control-messages>
        </div>
        <div class="form-group">
          <label>Confirmar contraseña</label>
          <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" />
          <app-control-messages [control]="userForm.get('confirmPassword')"></app-control-messages>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <input type="submit" [disabled]="!userForm.valid" class="btn btn-block btn-lg btn-primary btn-form-reg"
              value="Registrar" />
            <br />
            <label class="control control-checkbox">
              Acepto términos y condiciones
              <input type="checkbox" />
              <div class="control_indicator"></div>
            </label>
            <br />
            <p class="enlaceRegAqu">
              ¿Ya tienes una cuenta?
              <a routerLink="" target="_self">Ingresa aquí</a>
            </p>
          </div>
          <div class="col-md-3"></div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-modal-loading [active]="loading"></app-modal-loading>
<a href="#errorSolicitud" id="showModalErrorSolicitud" data-toggle="modal" style="display: none;"></a>
<div class="modal fade" id="errorSolicitud" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Error en la solicitud
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 d-flex align-items-center" style="min-height: 150px; text-align: center;">
            <h5 style="font-size: 1.2rem;">
              Ha ocurrido un error con tu petición, verifique su información.
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>