<div class="container-fluid contacto">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="spaCbzSeg">
        <img
          src="assets/img/logos_cuerpo/logo_cuerpo_contacto.svg"
          alt="Contacto"
          class="imgEncabz"
        />
        <h3 class="encabz">Contacto</h3>
      </div>
    </div>
  </div>
  <div class="row DetalleProductContact">
    <div class="col-12 col-md-2 col-lg-1"></div>
    <div class="col-12 col-md-8 col-lg-10">
      <h3>
        Conéctate con nosotros
      </h3>
      <p>
        En Naxu estamos para ayudarte
      </p>
      <p>
        Deja tu mensaje y nosotros nos ponemos en contacto contigo.
      </p>
      <form role="form" [formGroup]="userForm" (submit)="SendMessage()">
        <div class="form-group">
          <label for="exampleInputEmail1">
            Asunto
          </label>
          <input
            type="name"
            class="form-control"
            formControlName="asunto"
            id="asunto"
          />
          <control-messages
            [control]="userForm.get('asunto')"
          ></control-messages>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Mensaje</label>
          <textarea
            class="form-control"
            rows="10"
            formControlName="mensaje"
            id="mensaje"
          ></textarea>
          <control-messages
            [control]="userForm.get('asunto')"
          ></control-messages>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 col-lg-6"></div>
          <div class="col-12 col-md-6 col-lg-6">
            <!-- <a href="#"  class="btn btn-block btn-lg btn-primary">Enviar</a>-->
            <input
              type="submit"
              [disabled]="!userForm.valid"
              class="btn btn-block btn-lg btn-primary"
              value="Enviar"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-2 col-lg-1"></div>
  </div>
  <div class="row ContactRS">
    <div class="col-3 col-md-8 col-lg-8"></div>
    <div class="col-9 col-md-4 col-lg-4">
      <p>
        Consulta nuestras redes sociales
      </p>
      <ul class="list-unstyled">
        <li>
          <img src="assets/img/logos_cuerpo/logotwitter.svg" alt="twitter" />
        </li>
        <li>
          <img src="assets/img/logos_cuerpo/logofacebook.svg" alt="facebook" />
        </li>
        <li>
          <img src="assets/img/logos_cuerpo/logoin.svg" alt="logoIn" />
        </li>
      </ul>
    </div>
  </div>
</div>
