<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="spaCbzSeg">
        <img
          src="assets/img/logos_cuerpo/logo_cuerpo_mis_pedidos.svg"
          alt="Mis pedidos"
          class="imgEncabz"
        />
        <h3 class="encabz">Mis pedidos</h3>
      </div>
    </div>
  </div>
  <ng-container *ngIf="status === 'complete'">
    <div class="row misPedidosFicha" *ngFor="let pedido of pedidos">
      <div class="col-md-12 col-lg-10">
        <div class="misPedidos">
          <div class="datosEnvio">
            <ul>
              <li>
                <p>Pedido No. {{ pedido["t09id"] }}</p>
              </li>
              <li>
                <img src="assets/img/img_tienda/separador.svg" alt="" />
              </li>
              <li>
                <p>
                  Comprado el
                  {{ moment(pedido["t09_fecha"]).format("DD-MM-YYYY") }}
                </p>
              </li>
              <li>
                <img src="assets/img/img_tienda/separador.svg" alt="" />
              </li>
              <li>
                <p class="redPrecio">
                  Total: ${{ pedido["t09_monto_total"] }} MXN
                </p>
              </li>
            </ul>
          </div>
          <div class="row datosMisPedidos">
            <div class="col-md-4 col-lg-4">
              <img
                alt="articulo tienda"
                [src]="pedido['t09_imagen']"
                class="artic img-fluid"
              />
            </div>
            <div class="col-md-8 col-lg-8">
              <h3>
                {{ pedido["t09_producto"] }}
              </h3>
              <div
                class="AdqSegInfoDesc"
                [innerHTML]="pedido['t09_descripcion']"
              ></div>
              <hr />
              <h4>
                Método de pago
              </h4>
              <ul class="misPedidosPago">
                <li *ngIf="pedido['t09_metodopago'] === 'NOMINA'">
                  <img
                    src="assets/img/img_tienda/paga_via_nomina.svg"
                    alt="pago nomina"
                  />
                  <p>Pago realizado vía nómina</p>
                </li>
                <li *ngIf="pedido['t09_metodopago'] === 'TDC'">
                  <img
                    src="assets/img/img_tienda/paga_via_paypal.svg"
                    alt="pago paypal"
                  />
                  <p>Pagado vía PayPal</p>
                </li>
                <li *ngIf="pedido['t09_metodopago'] === 'DIFERIDO'">
                  <img
                    src="assets/img/img_tienda/paga_via_quincena.svg"
                    alt="pago quincenal"
                  />
                  <p>Diferido quincenalmente</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="status === 'empty'">
    <h3 style="text-align: center;">
      No tiene pedidos disponibles
    </h3>
  </ng-container>
  <ng-container *ngIf="status === 'error'">
    <h3 style="text-align: center;">
      Ocurrió un problema con tu solicitud
    </h3>
  </ng-container>
</div>

<app-modal-loading [active]="loading"></app-modal-loading>
