
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div>
                                <img src="assets/img/logos_cuerpo/logo_cuerpo_solicitud_anticipo.svg" alt="imagen solicitar anticipo" class="imgEncabz" />
                                <h3 class="encabz">Solicitud de anticipo</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="solCred01">
                                <h3>Selecciona el monto del anticipo</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Cantidad a prestar</p>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="variable pct02">$15,000</span>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-md-12 row align-item-center justify-content-center">
                                    <div class="circular-progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" aria-labelledby="title" role="graphic">
                                            <title id="title">svg circular progress bar</title>
                                            <circle cx="50" cy="50" r="40"></circle>
                                            <circle cx="50" cy="50" r="40" id="pct-ind"></circle>
                                        </svg>

                                        <p class="pct">70,000 MXN</p>
                                    </div>

                                    <label for="slider" class="sr-only">range slider</label>
                                    <input type="range" class="custom-range" id="slider" value="70" />
                                </div>
                                <br />
                                <div class="row calcRang">
                                    <div class="col-md-6">
                                        <p class="izq"><i class="fas fa-circle"></i>Mínimo</p>
                                        <p class="izq01">$5,000 MXN</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="der"><i class="fas fa-circle"></i>Máxico</p>
                                        <p class="der01">$100,000 MXN</p>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="infoUsuaPrest">
                                <h3>
                                    <b>Solicito el pago anticipado de mi quincena.</b> <br />
                                    <b>Aceptando el cobro de los intereses correspondientes en la quincena próxima.</b>
                                </h3>
                                <hr />
                                <p>Monto del prestamo</p>
                                <p class="variable"><span>$35,000</span> MXN</p>

                                <br />

                                <a href="#" class="btn btn-block btn-primary enlace">Solicitar anticipo</a>
                                <br />
                                <a href="#" class="btn btn-block btn-primary enlace02">Ver plazos de pago</a>
                                <br />
                                <input type="checkbox" />
                                <a href="#" class="termCond">Acepto solicitar el préstamo en los términos seleccionados</a>
                            </div>
                        </div>
                    </div>
                </div>