<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div>
        <img
          src="assets/img/logos_cuerpo/logo_cuerpo_solicitud_anticipo.svg"
          alt="imagen solicitar anticipo"
          class="imgEncabz"
        />
        <h3 class="encabz">Solicitud de anticipo</h3>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="status === 'complete'">
    <div class="col-12 col-md-12 col-lg-6">
      <div class="infoUsuaPrest">
        <h3>
          <strong>Solicito el pago anticipado de mi quincena.</strong> <br />
          <strong
            >Aceptando el cobro de los intereses correspondientes en la quincena
            próxima.</strong
          >
        </h3>
        <hr />
        <p>Monto a anticipar</p>
        <p class="variable">
          <span>{{ formatter.format(salarioQuincenal) }}</span> MXN
        </p>

        <br />

        <input type="checkbox" #tacs />
        Acepto solicitar el préstamo en los términos seleccionados

        <br />
        <br />

        <button
          [disabled]="!tacs.checked"
          (click)="registerLendData()"
          class="btn btn-block btn-primary enlace"
        >
          Solicitar anticipo
        </button>

        <br />
        <a
          href="#infoSolicitud"
          data-toggle="modal"
          class="btn btn-block btn-primary enlace02"
          >Ver plazos de pago</a
        >
      </div>
    </div>
  </div>
  <ng-container *ngIf="status === 'empty'">
    <h3 style="text-align: center;">
      No hay anticipos disponibles
    </h3>
  </ng-container>
  <ng-container *ngIf="status === 'error'">
    <h3 style="text-align: center;">
      Ocurrió un problema con tu solicitud
    </h3>
  </ng-container>
</div>
<app-modal-loading [active]="loading"></app-modal-loading>
<div
  class="modal fade"
  id="infoSolicitud"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">
          Información de anticipos
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px;"
          >
            <h5 style="font-size: 1.2rem;">
              En la quincena posterior al anticipo se te hará un descuento de
              {{ formatter.format(Number(lendData?.intereses)) }}, quedando tu
              quincena de
              {{
                formatter.format(salarioQuincenal - Number(lendData?.intereses))
              }}
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" style="cursor: pointer;">Entendido</a>
      </div>
    </div>
  </div>
</div>
<a
  href="#exitoSolicitud"
  id="showModalExitoSolicitud"
  data-toggle="modal"
  style="display: none;"
></a>
<a
  href="#errorSolicitud"
  id="showModalErrorSolicitud"
  data-toggle="modal"
  style="display: none;"
></a>

<div
  class="modal fade"
  id="exitoSolicitud"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">
          Solicitud recibida
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center;"
          >
            <h5 style="font-size: 1.2rem;">
              Se ha recibido tu petición, un ejecutivo te contactará.
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="errorSolicitud"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Error en la solicitud
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center;"
          >
            <h5 style="font-size: 1.2rem;">
              Ha ocurrido un error con tu petición, inténtalo mas tarde.
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>
