<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="adqSeg">
        <h2>
          Solo por ser parte de <span>Naxu,</span> tú puedes acceder a todos
          estos beneficios.
        </h2>
        <hr />
      </div>
      <div class="spaCbzSeg">
        <img
          src="assets/img/logos_cuerpo/logo_cuerpo_adquirir_seguros.svg"
          alt="Imagen Adquirir seguros"
          class="imgEncabz"
        />
        <h3 class="encabz">Adquirir seguros</h3>
      </div>
    </div>
  </div>
  <ng-container *ngIf="status === 'complete'">
    <div class="row medium" *ngIf="mainItem">
      <div class="col-12 col-md-8">
        <div class="row no-gutters">
          <div class="col-12 col-md-6 col-xl-4">
            <img alt="Imagen seguros" src="{{ mainItem['t06_imagenurls3'] }}" />
          </div>
          <div class="col-12 col-md-6 col-xl-8">
            <div class="AdqSegInfo">
              <p>Promoción especial</p>
              <h3>
                {{ mainItem["t06_titulo"] }}
              </h3>
              <div
                class="AdqSegInfoDesc"
                [innerHTML]="mainItem['t06_descripcion']"
              ></div>
              <p class="AdqSegInfoVig">
                Vigencia: {{ mainItem["t06_vigencia"] }}
              </p>
              <p class="AdqSegInfoVig">Precio: {{ mainItem["t06_precio"] }}</p>
              <br />
              <a
                id="modal-destacado"
                (click)="senmailBackOffice(mainItem['t06_titulo'])"
                role="button"
                class="btn btn-primary"
                >CONTRATAR</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 description">
        <div class="ObtBene">
          <h2>COMO USAR MIS SEGUROS</h2>
          <hr />
          <ul>
            <li>
              <div class="ObtBenePasoImg">
                <img
                  src="assets/img/logos_cuerpo/logo_beneficios01.svg"
                  alt="Paso1"
                />
              </div>
              <div class="ObtBenePasoText">
                <p class="ObtBenePasoTextStep">
                  Paso 1 <br />
                  <span> Let's meet at starbucks today, are you free?</span>
                </p>
              </div>
            </li>
            <li>
              <div class="ObtBenePasoImg">
                <img
                  src="assets/img/logos_cuerpo/logo_beneficios02.svg"
                  alt="Paso2"
                />
              </div>
              <div class="ObtBenePasoText">
                <p class="ObtBenePasoTextStep">
                  Product Issue <br />
                  <span>
                    A new issue has been reported, would you be able to help
                    me?</span
                  >
                </p>
              </div>
            </li>
            <li>
              <div class="ObtBenePasoImg">
                <img
                  src="assets/img/logos_cuerpo/logo_beneficios03.svg"
                  alt="Paso3"
                />
              </div>
              <div class="ObtBenePasoText">
                <p class="ObtBenePasoTextStep">
                  New Rating <br />
                  <span> Hurray! You\'ve got a new rating.</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="spaCbzSeg">
          <img
            src="assets/img/logos_cuerpo/logo_cuerpo_otros_seguros.svg"
            alt="Imagen Adquirir seguros"
            class="imgEncabz"
          />
          <h3 class="encabz">Otros seguros</h3>
        </div>
      </div>
    </div>
    <div [innerHTML]="htmlSafeHtmlOtros"></div>
  </ng-container>
  <ng-container *ngIf="status === 'empty'">
    <h3 style="text-align: center;">
      No hay seguros disponibles
    </h3>
  </ng-container>
  <ng-container *ngIf="status === 'error'">
    <h3 style="text-align: center;">
      Ocurrió un problema con tu solicitud
    </h3>
  </ng-container>
</div>
<div>
  <div [innerHTML]="htmlSafeHtmlModal">
    <div></div>
  </div>
</div>
<app-modal-loading [active]="loading"></app-modal-loading>

<a
  href="#exitoSolicitud"
  id="showModalExitoSolicitud"
  data-toggle="modal"
  style="display: none;"
></a>

<a
  href="#errorSolicitud"
  id="showModalErrorSolicitud"
  data-toggle="modal"
  style="display: none;"
></a>

<div
  class="modal fade"
  id="exitoSolicitud"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">
          Solicitud recibida
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center;"
          >
            <h5 style="font-size: 1.2rem;">
              Se ha Recibido tu Petición, un Ejecutivo te Contactará para Iniciar el Trámite de tu Seguro en un Plazo Máximo de 24 Hrs Hábiles.
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="errorSolicitud"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Error en la solicitud
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center;"
          >
            <h5 style="font-size: 1.2rem;">
              Ha ocurrido un error con tu petición, inténtalo mas tarde.
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>
