
                <div class="container-fluid">
                    <div class="row">
                        <!--adquirir seguros-->
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="adqSeg">
                                <h2>
                                    Solo por ser parte de <span>Naxu,</span> tú puedes acceder a todos estos beneficios.
                                </h2>
                                <hr >
                            </div>
                            <div class="spaCbzSeg">
                                <img src="assets/img/logos_cuerpo/logo_cuerpo_beneficios.svg" alt="Imagen Beneficios" class="imgEncabz" />
                                <h3 class="encabz">Beneficios</h3>
                            </div>
                        </div>
                    </div>

                    <!--Inicia cuerpo del documento-->

                      <div  [innerHTML]="htmlSafeHtml">



                    </div>
                </div>
                <!--Modal asistencia 01-->
                <div [innerHTML]="htmlSafeHtmlModal" >

                       <div>
