<div class="container-fluid">
  <ng-container *ngIf="status === 'Available'">
    <div class="row" style="margin-top: 10px" *ngIf="showButton">
      <div class="offset-3 col-6 col-sm-6 offset-md-0 col-md-4">
        <button
          class="btn btn-block btn-primary"
          (click)="addToHomeScreen()"
          type="button"
          style="padding: 10px; margin: 10px 0 5px 0; max-width: 250px"
        >
          Agregar a pantalla de inicio
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="encabz01">Últimos destacados</h3>
        <div class="carousel slide" id="carousel-513524">
          <ol class="carousel-indicators">
            <ng-container *ngFor="let item of sliderData; let i = index">
              <li
                [attr.data-slide-to]="i"
                data-target="#carousel-513524"
                [ngClass]="{ active: i === 0 }"
              ></li>
            </ng-container>
          </ol>
          <div class="carousel-inner">
            <ng-container *ngFor="let item of sliderData; let i = index">
              <div [ngClass]="{ 'carousel-item': true, active: i === 0 }">
                <div class="row back-slider">
                  <div class="col-md-5 offset-md-1 content">
                    <h4 *ngIf="false">
                      Naxu Talent es el lado humano de tu empresa.
                    </h4>
                    <p *ngIf="false">
                      Te ofrece soluciones para la correcta administración y
                      control de tu personal garantizando los pagos y
                      cumplimientos que establecen las normativas y leyes
                      vigentes para que puedasenfocarte en tu negocio.
                    </p>
                  </div>
                  <div class="col-md-5 offset-md-1 slideimg">
                    <img
                      class="d-block w-100"
                      [src]="item.t13_imagen"
                      alt="slider img {{ i + 1 }}"
                    />
                    <a
                      class="carousel-control-prev"
                      href="#carousel-513524"
                      data-slide="prev"
                      ><span class="carousel-control-prev-icon"></span>
                      <span class="sr-only">Previous</span></a
                    >
                    <a
                      class="carousel-control-next"
                      href="#carousel-513524"
                      data-slide="next"
                      ><span class="carousel-control-next-icon"></span>
                      <span class="sr-only">Next</span></a
                    >
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <!--modulo informacion personal-->
      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
        <div class="spaCbz">
          <h3 class="encabz">Información personal</h3>
        </div>
        <div class="infoUsua">
          <p>
            {{ dataNaxu?.nombreEmpleado }} {{ dataNaxu?.segundoNombreEmpleado }}
          </p>
          <ul>
            <li>
              <p>
                No.Empleado: <span>{{ dataNaxu?.idempleado }}</span>
              </p>
            </li>
            <li>
              <p>
                Empresa: <span>{{ dataNaxu?.empresa }}</span>
              </p>
            </li>
            <li>
              <p>
                RFC: <span>{{ dataNaxu?.RFCEmpleado }}</span>
              </p>
            </li>
            <li>
              <p>
                IMSS: <span>{{ dataNaxu?.NSS }}</span>
              </p>
            </li>
            <li>
              <p>
                CURP: <span>{{ dataNaxu?.CURPEmpleado }}</span>
              </p>
            </li>
          </ul>
        </div>
      </div>

      <!--modulo solicitar credito-->
      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
        <div class="spaCbz">
          <img
            src="assets/img/logos_cuerpo/logo_cuerpo_credito.svg"
            alt="imagen solicitar credito"
            class="imgEncabz"
          />
          <h3 class="encabz">Solicitar Préstamo</h3>
        </div>
        <div class="solCred">
          <div class="col-md-12">
            <ng-container *ngIf="lendAvailable; else lendnotAvailable">
              <h4>Tienes un préstamo disponible</h4>
              <a [routerLink]="'/prestamos'" (click)="toTop()">VER DETALLE</a>
            </ng-container>
            <ng-template #lendnotAvailable>
              <h5>No tienes prestamos diponibles</h5>
            </ng-template>
          </div>
        </div>
        <div class="row chptec">
          <div class="col-md-12">
            <div class="spaCbz">
              <img
                src="assets/img/logos_cuerpo/logo_cuerpo_creditoh.svg"
                alt="imagen solicitar credito"
                class="imgEncabz"
              />
              <h3 class="encabz">Crédito Hipotecario</h3>
            </div>
            <button
              (click)="openModalCredit()"
              class="btn btn-block btn-primary enlace"
            >
              Más información
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
        <div class="spaCbz">
          <img
            src="assets/img/logos_cuerpo/logo_cuerpo_vacaciones.svg"
            alt="imagen solicitar credito"
            class="imgEncabz"
          />
          <h3 class="encabz">Solicitar Vacaciones</h3>
        </div>
        <div class="solCred">
          <div class="col-md-12">
            <ng-container *ngIf="availableDays; else elseTemplate">
              <p>Días que tienes disponibles</p>
              <h2>
                {{ availableDays }} {{ availableDays > 1 ? "días" : "día" }}
              </h2>
            </ng-container>
            <ng-template #elseTemplate>
              <h3>No tienes días disponibles</h3>
            </ng-template>

            <a [routerLink]="'/vacaciones'" (click)="toTop()">VER DETALLE</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="status === 'Not available'">
    <h3 style="text-align: center; margin-top: 50px">
      Información no disponible
    </h3>
  </ng-container>
</div>

<app-modal-loading [active]="loading"></app-modal-loading>

<a
  href="#exitoSolicitud"
  id="showModalExitoSolicitud"
  data-toggle="modal"
  style="display: none"
></a>
<a
  href="#errorSolicitud"
  id="showModalErrorSolicitud"
  data-toggle="modal"
  style="display: none"
></a>

<div
  class="modal fade"
  id="exitoSolicitud"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Solicitud recibida</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center"
          >
            <h5 style="font-size: 1.2rem">
              Se ha Recibido tu Petición, un Ejecutivo te Contactará para
              Iniciar el Trámite de tu Crédito Hipotecario en un Plazo Máximo de
              24 Hrs Hábiles.
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="errorSolicitud"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error en la solicitud</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center"
            style="min-height: 150px; text-align: center"
          >
            <h5 style="font-size: 1.2rem">
              Ha ocurrido un error con tu petición, inténtalo mas tarde.
            </h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Entendido</a>
      </div>
    </div>
  </div>
</div>

<a
  href="#infoSolicitud"
  id="showModalInfoSolicitud"
  data-toggle="modal"
  style="display: none"
></a>
<div
  class="modal fade"
  id="infoSolicitud"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">
          ¡Has solicitado información para tu crédito hipotecario!
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 d-flex">
            En un plazo de 24 hrs hábiles un ejecutivo especializado en crédito
            hipotecario se contactará contigo para explicarte las opciones que
            tienes y mas se ajustan a tus necesidades. Este ejecutivo evaluará
            desde tus opciones con Infonavit como con los bancos comerciales.
            ¡Enhorabuena!
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a
          data-dismiss="modal"
          style="
            cursor: pointer;
            margin: 0.25rem 1.25rem 0.25rem 1.25rem;
            color: red;
          "
          >Cancelar</a
        >
        <a
          data-dismiss="modal"
          style="cursor: pointer; margin: 0.25rem 1.25rem 0.25rem 1.25rem"
          (click)="senmailBackOffice()"
          >Aceptar</a
        >
      </div>
    </div>
  </div>
</div>
