<div class="container-fluid">
                    <!--Tienda en línea-->

                    <div class="row">
                        <!--adquirir seguros-->
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="spaCbzSeg">
                                <img src="assets/img/logos_cuerpo/logo_cuerpo_tienda_virtual.svg" alt="Tienda Virtual" class="imgEncabz" />
                                <h3 class="encabz">Tienda en Línea</h3>
                            </div>
                        </div>
                    </div>



                    <!--Cuerpo tienda-->

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">

                              <form action="">
                                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                                  <div class="input-group">
                                    <input type="search" placeholder="Buscar..." aria-describedby="button-addon1" class="form-control border-0 bg-light">
                                    <div class="input-group-append">
                                      <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            
                            
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            
                            <select class="select-css">
                                <option>Selecciona la categoría</option>
                                <option>Electrodomesticos</option>
                                <option>Gadgets</option>
                                <option>Celulares</option>
                                <option>Muebles</option>
                                <option>Computadoras</option>
                              </select>
                            
                            
                        </div>
                    </div>

                    <div class="TiendProduct">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="Product">
                                    <img alt="articulo tienda" src="assets/img/img_tienda/apple-watch.png" class="artic" />
                                    <h3>
                                        <span>
                                        Apple Watch Series 4 GPS
                                        </span>
                                    </h3>
                                    <p>
                                        <span>
                                        Redesigned from scratch and completely revised.
                                        </span>
                                    </p>
                                </div>
                                <div class="Precio">
                                    <h4>
                                    <a href="detalle_producto.html" target="_self">
                                    <span>$399</span> MXN
                                    <img alt="carrito de compra" src="assets/img/img_tienda/carrito.svg"/>
                                    </a>
                                    </h4>
                              
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="Product">
                                    <img alt="articulo tienda" src="assets/img/img_tienda/jbl-speaker.png" class="artic" />
                                    <h3>
                                        <span>
                                            JBL Speaker
                                        </span>
                                    </h3>
                                    <p>
                                        <span>
                                            Redesigned from scratch and completely revised.
                                        </span>
                                    </p>
                                </div>
                                <div class="Precio">
                                    <h4>
                                    <a href="detalle_producto.html" target="_self">
                                    <span>$199</span> MXN
                                    <img alt="carrito de compra" src="assets/img/img_tienda/carrito.svg"/>
                                    </a>
                                    </h4>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="Product">
                                    <img alt="articulo tienda" src="assets/img/img_tienda/beats-headphones.png" class="artic" />
                                    <h3>
                                        <span>
                                            Beats Headphones
                                        </span>
                                    </h3>
                                    <p>
                                        <span>
                                            Redesigned from scratch and completely revised.
                                        </span>
                                    </p>
                                </div>
                                <div class="Precio">
                                    <h4>
                                    <a href="detalle_producto.html" target="_self">
                                    <span>$459</span> MXN
                                    <img alt="carrito de compra" src="assets/img/img_tienda/carrito.svg"/>
                                    </a>
                                    </h4>
                                    
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="Product">
                                    <img alt="articulo tienda" src="assets/img/img_tienda/homepod.png" class="artic" />
                                    <h3>
                                        <span>
                                        Apple Homepod
                                        </span>
                                    </h3>
                                    <p>
                                        <span>
                                            Redesigned from scratch and completely revised.
                                        </span>
                                    </p>
                                </div>
                                <div class="Precio">
                                    <h4>
                                    <a href="detalle_producto.html" target="_self">
                                    <span>$399</span> MXN
                                    <img alt="carrito de compra" src="assets/img/img_tienda/carrito.svg"/>
                                    </a>
                                    </h4>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="Product">
                                    <img alt="articulo tienda" src="assets/img/img_tienda/iphone-x.png" class="artic" />
                                    <h3>
                                        <span>
                                            Apple iPhone X 128GB
                                        </span>
                                    </h3>
                                    <p>
                                        <span>
                                            Redesigned from scratch and completely revised.
                                        </span>
                                    </p>
                                </div>
                                <div class="Precio">
                                    <h4>
                                    <a href="detalle_producto.html" target="_self">
                                    <span>$8,999</span> MXN
                                    <img alt="carrito de compra" src="assets/img/img_tienda/carrito.svg"/>
                                    </a>
                                    </h4>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    

                  
                </div>